<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Shop Websocket</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<style>
		#me {
			width: 400px;
			height: 400px;
			overflow: auto;
			/* border: 2px solid blue; */
		}
		#chatbot {
			/* width: 400px; */
			height: 50px;
			overflow: auto;
			/* border: 2px solid blue; */
		}
		#size{
			height: 400px;
			overflow: auto;
		}
		.user {
			text-align: right;
			height: 50px;

		}
		.chatbot {
			height: 50px;
		}
	</style>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var stompClient = null;
		var id = [[${ session.loginshop.id }]];
		/* ]]> */
		// 서버소켓에 연결
		function connect() {
			var socket = new SockJS('/ws');
			stompClient = Stomp.over(socket);

			stompClient.connect({}, function (frame) {
				setConnected(true);
				console.log('Connected: ' + frame);
				stompClient.subscribe('/send/' + id, function (msg) {

					$("#chatbot").append(
						"<tr>"
						+ "<td class='user'>" + JSON.parse(msg.body).content1
						+ " : " + JSON.parse(msg.body).sendid + "</td>"
						+ "</tr>"
						+ "<tr>"
						+ "<td class='py-1'><img src='' alt='' /> Bot : " +
						JSON.parse(msg.body).content2 + "</td>"
						+ "</tr>"
					);
					$("#size").scrollTop($("#size")[0].scrollHeight);
				});

				stompClient.subscribe('/send/serversend', function (msg) {
					$("#servermsg1").text(JSON.parse(msg.body).content1);
					$("#servermsg2").text(JSON.parse(msg.body).content2);
				});
			});
		}

		// 서버소켓에 연결끊기
		function disconnect() {
			if (stompClient !== null) {
				stompClient.disconnect();
			}
			setConnected(false);
			console.log("Disconnected");
		}

		// connect&disconnect버턴 활성화/비활성화
		function setConnected(connected) {
			if (connected) {
				$("#status").text("Connected");
			} else {
				$("#status").text("Disconnected");
			}

		}

		// 서버에 메세지 요청 메서드

		function sendMe() {
			var msg = JSON.stringify({
				'sendid': id,
				'content1': $('#metext').val()
			});
			stompClient.send("/receiveme", {}, msg);
			$('#metext').val('') ;
		}

		$(document).ready(function () {
			$("#connect").click(function () {
				connect();
			});
			$("#disconnect").click(function () {
				disconnect();
			});
			$("#sendme").click(function () {
				sendMe();
			});
			$("#metext").keypress(function (e) {
				if( e.code == 'Enter'){
					sendMe();
				}
			});
			

		});
	</script>
</head>

<body>
	<h1 th:text="${session.loginshop.id} ? ${session.loginshop.id} : 'host/login'">ID</h1>
	<H1 id="status">Status</H1>
	<H1 id="servermsg1">Server Msg1</H1>
	<H1 id="servermsg2">Server Msg2</H1>
	<button id="connect">Connect</button>
	<button id="disconnect">Disconnect</button>

	<!-- <h3>Me</h3>
	<input type="text" id="metext">
	<button id="sendme">Send</button>
	<div id="me"></div> -->

	<!-- <div id="me" class="table-responsive"></div> -->
	<!-- partial -->

	<div class="col-xl-9 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Striped Table</h4>
				<p class="card-description">
					Add class <code>.table-striped</code>
				</p>
				<div class="table-responsive" id="size">
					<table class="table table-striped" >
						<thead>
							<tr>
								<th class="chatbot">
									ChatBot
								</th>
								<th class="user">
									User
								</th>
							</tr>
						</thead>
						<tbody id="chatbot">

						</tbody>
					</table>
				</div>
			</div>

			<div class="card-body">
				<h4 class="card-title">Basic form elements</h4>
				<p class="card-description">Basic form elements</p>
				<div class="form-group">
					<label for="exampleInputCity1">질문을 적어주세요</label> <input type="text" class="form-control" id="metext"
						placeholder="Location">
				</div>
				<button id="sendme" class="btn btn-primary mr-2">질문</button>
				<button class="btn btn-light">취소</button>
			</div>
		</div>
	</div>

	<body>



	</body>


</html>