<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shop Websocket</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<style>
#all {
	width: 400px;
	height: 200px;
	overflow: auto;
	border: 2px solid red;
}

#me {
	width: 400px;
	height: 200px;
	overflow: auto;
	border: 2px solid blue;
}

#to {
	width: 400px;
	height: 200px;
	overflow: auto;
	border: 2px solid green;
}
.me {
	float: right;
}
</style>

<script th:inline="javascript">
	 /*<![CDATA[*/ 
	var stompClient = null;
	var id = [[${session.loginshop.id}]];
	/* ]]> */
	// 서버소켓에 연결
	function connect() {
		var socket = new SockJS('/ws');
		stompClient = Stomp.over(socket);

		stompClient.connect({}, function(frame) { 
			setConnected(true);
			console.log('Connected: ' + frame);
			stompClient.subscribe('/send', function(msg) { 
				$("#all").append(
						"<h4>" + JSON.parse(msg.body).sendid +":"+
						JSON.parse(msg.body).content1
								+ "</h4>");
			});
			stompClient.subscribe('/send/'+id, function(msg) { 
				$("#me").append(
						"<h4 class='me'>" + JSON.parse(msg.body).content1 +" : "+
						 JSON.parse(msg.body).sendid+"<br></h4><h4><br>Bot : "+
						JSON.parse(msg.body).content2
								+ "</h4>" + "<hr width='100%' color='red' noshade/>");
				$("#me").scrollTop($("#me")[0].scrollHeight);
			});
			stompClient.subscribe('/send/to/'+id, function(msg) { 
				$("#to").append(
						"<h4>" + JSON.parse(msg.body).sendid +":"+
						JSON.parse(msg.body).content1
								+ "</h4>" );
			});
			stompClient.subscribe('/send/serversend', function(msg) { 
				$("#servermsg1").text(JSON.parse(msg.body).content1);
				$("#servermsg2").text(JSON.parse(msg.body).content2);
			});
		});
	}
	
	// 서버소켓에 연결끊기
	function disconnect() {
		if (stompClient !== null) {
			stompClient.disconnect();
		}
		setConnected(false);
		console.log("Disconnected");
	}

	// connect&disconnect버턴 활성화/비활성화
	function setConnected(connected) {
		if (connected) {
			$("#status").text("Connected");
		} else {
			$("#status").text("Disconnected");
		}
		
	}

	// 서버에 메세지 요청 메서드

	function sendMe() {
		var msg = JSON.stringify({
			'sendid' : id,
			'content1' : $('#metext').val()
		});
		stompClient.send("/receiveme", {}, msg);
	}

	$(document).ready(function() {
		$("#connect").click(function() {
			connect();
		});
		$("#disconnect").click(function() {
			disconnect();
		});
		$("#sendall").click(function() {
			sendAll();
		});
		$("#sendme").click(function() {
			sendMe();
		});
		$("#sendto").click(function() {
			sendTo();
		});
	});
</script>
</head>
<body>
	<H1 th:text="${session.loginshop.id}">ID</H1>
	<H1 id="status">Status</H1>
	<H1 id="servermsg1">Server Msg1</H1>
	<H1 id="servermsg2">Server Msg2</H1>
	<button id="connect">Connect</button>
	<button id="disconnect">Disconnect</button>

	<!-- <h3>Me</h3>
	<input type="text" id="metext">
	<button id="sendme">Send</button>
	<div id="me"></div> -->


	<div class="col-lg-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Basic Table</h4>
				<p class="card-description">
					Add class
					<code>.table</code>
				</p>
				<div id="me" class="table-responsive"></div>
			</div>
		</div>
	</div>
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Basic form elements</h4>
				<p class="card-description">Basic form elements</p>
				<div class="form-group">
					<label for="exampleInputCity1">질문을 적어주세요</label> <input type="text"
						class="form-control" id="metext" placeholder="Location">
				</div>
				<button id="sendme" class="btn btn-primary mr-2">질문</button>
				<button class="btn btn-light">취소</button>
			</div>
		</div>
	</div>
</html>


