<meta charset="UTF-8">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.pill-nav a {
  display: block;
  color: black;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}

#collection{
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
	border-radius:5px;
	margin:auto;
}

</style>


<script>

</script>

<!-- <Modal> begin ==============================-->




<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pb-5 pt-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-span mb-3 shadow-lg">
          <div class="card-body py-0">
            <div class="row justify-content-center">
              <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1"><img class="img-fluid w-100 fit-cover h-100 rounded-top rounded-md-end rounded-md-top-0" src="/bootstrap/foodwagon/assets/img/gallery/crispy-sandwiches.png" alt="..." /></div>
              <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                <h1 class="card-title mt-xl-5 mb-4" th:text="${shop.name}"> 음식점명 </h1>
                <p class="fs-1" th:text="${shop.info}">가게 정보</p>
                <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6" href="#!">주문하기<i class="fas fa-chevron-right ms-2"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<div id="collection" class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4 pill-nav" >
  <a th:href="'#c'+${c.id}" th:each="c:${clist}" th:text="${c.name}">collection</a>
</div>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-4 overflow-hidden">
  <div class="container">
    <div class="row h-100" th:each="c:${clist}">
      <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm" th:text="${c.name}" th:id="'c'+${c.id}">Collection name</h5>
      </div>
      <div class="col-12">
        <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row gx-3 h-100 align-items-center">
                <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 mb-5 h-100" th:each="mn:${mlist}" th:if="${mn.collid == c.id}">
                  <div class="card card-span h-100 rounded-3"><img class="img-fluid rounded-3 h-100" src="/bootstrap/foodwagon/assets/img/gallery/cheese-burger.png" alt="..." />
                    <div class="card-body ps-0">
                      <h5 class="fw-bold text-1000 text-truncate mb-1" th:text="${mn.name}">메뉴 이름</h5>
                      <span class="text-1000 fw-bold" th:text="'￦ '+${mn.price}">가격</span>
                    </div>
                  </div>
                  <div class="d-grid gap-2"><button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#m'+${mn.id}">주문</button></div>
                  
					<!-- The Modal -->
					<div class="modal" th:id="'m'+${mn.id}">
					  <div class="modal-dialog">
					    <div class="modal-content">
					
					      <!-- Modal Header -->
					      <div class="modal-header">
					        <h3 class="modal-title">옵션 선택</h3>
					        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					      </div>
					
					      <!-- Modal body -->
					      <div class="modal-body">
					        <h5><input type="checkbox" th:each="o:${olist}" th:if="${o.mnid == mn.id}" th:text="${o.name}"></h5>
					      </div>
					
					      <!-- Modal footer -->
					      <div class="modal-footer">
					        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					      </div>
					
					    </div>
					  </div>
					</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->