<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function display(data){
	
	var ar = data.response.body.items.item;
	$(ar).each(function(index,item){
		alert(item.addr);
	}); 

	
}
$(document).ready(function(){
	$('#bt').click(function(){
		var param1 = $('#param1').val();
		$.ajax({
			url:'/ddataapi',
			data:{'zcode':param1},
			success:function(data){
				display(data);
			}
		});	
	});
});

</script>
</head>
<body>
	<h1>Data Test Page</h1>
	<input type="text" id="param1">
	<input type="text" id="param2">
	<button id="bt">Click</button>
	<h2 id ="result"></h2>
</body>
</html>