<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script>
 
  
  $(document).ready(function(){  
	  $('#implbt').click(function(){
			location.href = "/host/shop/shopregister";
		});
});
</script>

</head>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">가게 목록</h4>
			<button id="implbt" type="button" class="btn btn-info">가게 등록</button>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>가게 ID</th>
							<th>상호명</th>
							<th>주문 미수락</th>
							<th>일매출</th>
							<th>영업상태</th>
						</tr>
					</thead>
					<tbody th:if="${slist != null}" >
						<tr  th:each="s:${slist}">
							<td class="py-1" th:text="${s.id}"><img src="../../images/faces/face1.jpg"
								alt="image" /></td>
							<td th:text="${s.name}">name</td>
							<td>
								
							</td>
							<td>$ 77.99</td>

							<td th:if="${s.status == 1}"><label class="badge badge-success">영업 중</label></td>
							<td th:unless="${s.status == 1}"><label class="badge badge-danger">영업 중지</label></td>
						</tr>
						<tr th:unless="${slist != null}" >		
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
