
<script>
  $(document).ready(function () {
    $('#cancelbtn').click(function () {
      location.href = "/host/shop";
    });
    
    $('#submitbtn').click(function () {
      alert("아오");
      // $('#registerform').attr({
			// 	'method':'post',
			// 	'action':'/host/shop/shopregisterimpl'
			// }); 
			// $('#registerform').submit(); 

      $('#registerform').attr({
        'enctype':'multipart/form-data',
				'method':'post',
				'action':'/host/shop/shopregisterimpl'
			}); 
			$('#registerform').submit(); 


    });

  });

</script>




<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">가게 등록</h4>
      <p class="text-danger">
        가게 등록시 "사업자 등록증" 사진이 꼭 필요합니다.
      </p>
      <form class="registerform" id="registerform" >
        <div class="form-group">
          <label for="name">상호명</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="상호명">
        </div>
        <div class="form-group">
          <label for="bnum">사업자 번호</label>
          <input type="text" class="form-control" id="bnum" name="bnum" placeholder="사업자 번호">
          <input type="file" class="form-control file-upload-info" id="bimg" name="bimg" placeholder="Upload Image">
        </div>
        <div class="form-group">
          <label for="addr">주소</label>
          <input type="text" class="form-control" id="addr" name="addr" placeholder="주소">
        </div>
        <div class="form-group">
          <label for="addrd">세부 주소</label>
          <input type="text" class="form-control" id="addrd" name="addrd" placeholder="세부 주소">
        </div>
        <div class="form-group">
          <label for="phon">전화 번호</label>
          <input type="text" class="form-control" id="phon" name="phon" placeholder="전화 번호">
        </div>
        <div class="form-group">
          <label for="allmin">최소 결제 금액</label>
          <input type="number" class="form-control" id="allmin" name="allmin" value="1000"  placeholder="최소 결제 금액">
        </div>
        <div class="form-group">
          <label>가게 로고</label>
          <div class="input-group col-xs-12">
            <input type="file" class="form-control file-upload-info" id="logo" name="mf" placeholder="Upload Image">
            <span class="input-group-append">
              <!-- <button class="file-upload-browse btn btn-primary" id="logobt" type="button">Upload</button> -->
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="info">가게 소개</label>
          <textarea class="form-control" id="info" name="info" rows="4"></textarea>
        </div>
        <button class="btn btn-primary" id="submitbtn" type="button" >Submit</button>
        <button class="btn btn-light"  id="cancelbtn" type="button">Cancel</button>
      </form>
     
    </div>
  </div>
</div>