<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script>
 
  
  $(document).ready(function(){  
	  $('#implbt').click(function(){
		  var id =   $('input[name="gts"]').val();
		  var sid =   $('input[name="gtc"]').val();
			location.href = "/host/menu/colregister?id="+id+"&sid="+sid;
		});
});
</script>

</head>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title" th:text="${sh.name}">컬렉션 관리</h4>
			<div > 
				<input th:id="'gts'+${sh.id}"  type="number" 
                    name="gts"  value="gts" th:value="${sh.id}" hidden="hidden" >
				</div>
				<div th:each="c: ${clist}"> 
				<input th:id="'gtc'+${c.sid}"  type="number" 
                    name="gtc"  value="gtc" th:value="${c.sid}" hidden="hidden">
				</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>컬렉션 명</th>
							
						</tr>
					</thead>
					<tbody th:if="${clist != null}" >
						<tr  th:each="c:${clist}">
							
							<td ><a th:text="${c.name}" th:href="@{msel(collid=${c.id},id=${c.id})}">name</a></td>
							<td>
								
							</td>
							<td>$ 77.99</td>

							
						</tr>
						<tr th:unless="${clist != null}" >		
						</tr>
					</tbody>
				</table>
			</div>
			<hr><center>
			<button id="colimplbt" type="button" class="btn btn-info">컬렉션 등록</button></center>
		</div>
	</div>
</div>
