<script type="text/javascript"
  th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaosrc} + '&libraries=services'"></script>
<script>

 

  $(document).ready(function () {
   

    

   
    $('#mncancel').click(function () {
    	 var id =   $('input[name="gtcl2"]').val();
		  var collid =   $('input[name="gtcll2"]').val();
      location.href = "/host/menu/msel?id="+id+"&collid="+collid;
    });
    $('#mnsubmit').click(function () {
      $('#registerform').attr({
        'enctype': 'multipart/form-data',
        'method': 'post',
        'action': '/host/menu/menuregisterimpl'
      });
      $('#registerform').submit();

    });
  });
</script>
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" th:text="${col.name} + ' 메뉴 추가'">메뉴 등록</h4>
      <form class="registerform" id="registerform">
        <div class="form-group">
        
   		     <div > 
				<input th:id="'gtcl2'+${col.id}"  type="number" 
                    name="gtcl2"  value="gtcl2" th:value="${col.id}" hidden="hidden">
				</div>
        	<div th:each="mn: ${mnlist}"> 
				<input th:id="'gtcll2'+${mn.collid}"  type="number" 
                    name="gtcll2"  value="gtcll2" th:value="${mn.collid}" hidden="hidden">
				</div>
          <label>메뉴 이미지</label>
          <div class="input-group col-xs-12">
            <input type="file" class="form-control file-upload-info" id="mnimg" placeholder="Upload Image"
              accept=".jpg, .jpeg, .png">
            <span class="input-group-append">
              <!-- <button class="file-upload-browse btn btn-primary" id="bnumbtn" type="button">이미지 선택</button> -->
            </span>
          </div>
        </div>
        
        
      
        <div class="form-group">
          <label for="name">메뉴명</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="메뉴명">
        </div>
       
        <div class="form-group">
          <label for="price">가격</label>
          <input type="number" class="form-control" id="price" name="price" placeholder="메뉴 가격">
        </div>
         <div class="form-group">
          <label for="line">순서</label>
          <input type="number" class="form-control" id="line" name="line" placeholder="메뉴 순서">
        </div>
       
       
        <button class="btn btn-primary" id="mnsubmit" type="button">등록</button>
        <button class="btn btn-light" id="mncancel" type="button">취소</button>
      </form>
    </div>
  </div>
</div>