<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <script>
 
 /*  function mody(id){
		var price = $('#price'+id).val();
		alert(price);
		$.ajax({
			url:'mnprice',
			data:{
			'id': id,
			'price' : price
			},
			success:function(data){
				alert(data);
				}
			});

	 };    */
  
  
  
  $(document).ready(function(){  
	  $("#selectall").click(function() {
			if($("#selectall").is(":checked")) $("input[name=selected]").prop("checked", true);
			else $("input[name=selected]").prop("checked", false);
		});
		
		$("input[name=selected]").click(function() {
			var total = $("input[name=selected]").length;
			var checked = $("input[name=selected]:checked").length;
			
			if(total != checked) $("#selectall").prop("checked", false);
			else $("#selectall").prop("checked", true); 
		});
		$('#menudltlbt').click(function(){
			var c = confirm('삭제 하시겠습니까?');
			var sArray =[];
			 $("input[name=selected]:checked").each(function(i) {
				 sArray.push($(this).val());
			 });
		
			
			if(c == true){
				 var id =   $('input[name="gtcl"]').val();
				  var collid =   $('input[name="gtcll"]').val();
				location.href='/host/menu/msel/delete?sArray='+sArray+"&id="+id+"&collid="+collid;
			}
		})
		
		
	  
	  
	  
	  $('#menuimplbt').click(function(){
		  var id =   $('input[name="gtcl"]').val();
		  var collid =   $('input[name="gtcll"]').val();
			location.href = "/host/menu/menuregister?id="+id+"&collid="+collid;
		});
});
</script>

</head>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			
			<h4 class="card-title" th:text="${col.name}" >메뉴판 관리</h4>
			
			<div class="table-responsive">
				<div > 
				<input th:id="'gtcl'+${col.id}"  type="number" 
                    name="gtcl"  value="gtcl" th:value="${col.id}" hidden="hidden">
				</div>
				<div th:each="mn: ${mnlist}"> 
				<input th:id="'gtcll'+${mn.collid}"  type="number" 
                    name="gtcll"  value="gtcll" th:value="${mn.collid}" hidden="hidden">
				</div>
				<table class="table table-striped">
					<thead>
                    <tr>
                        <th><input type="checkbox" id="selectall" /></th>
                        <th>메뉴명</th>
                        <th>가격</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each="mn: ${mnlist}">
                 		
                      	<td><input type="checkbox" name="selected" th:value="${mn.id}"></td>
                        <td><a  th:text="${mn.name}" th:href="@{detail(id=${mn.id})}"></a></td>
                        <!-- <img id="pimg" th:src="@{'/img/product_img/'+${cr.img0}}"></a></td> -->
                        
                        <td th:text="${mn.price}"></td>
                        
                       

                       
                       <!--  <td 
                        th:if="${cr.status} == 1"
                        th:text="판매중"></td>
                         <td 
                        th:if="${cr.status} != 1"
                        th:text="매진"></td> -->
                       
                    </tr>
                
                </tbody>	
				</table>
			</div>
			<hr><center>
			<button id="menuimplbt" type="button" class="btn btn-info">메뉴 등록</button>
			<button id="menudltlbt" type="button" class="btn btn-info">메뉴 삭제</button>
			</center>
		</div>
	</div>
</div>
