<script src="https://code.jquery.com/jquery-3.4.1.js"></script>


<h3 class="font-weight-bold">메뉴판 관리</h3>
<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">가게 선택</h4>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>가게 ID</th>
							<th>상호명</th>
							<th>영업상태</th>
						</tr>
					</thead>
					<tbody  >
						<tr  th:each="s:${slist}" th:if="${slist != null}">
							<td class="py-1" th:text="${s.id}"><img src="../../images/faces/face1.jpg"
								alt="image" /></td>
								
							<td><a href="" th:text="${s.name}" th:href="@{col(sid=${s.id},id=${s.id})}">name</a></td>
							
							<td th:if="${s.status == 1}"><label class="badge badge-success">영업 중</label></td>
							<td th:unless="${s.status == 1}"><label class="badge badge-danger">영업 중지</label></td>
						</tr>
						<tr th:unless="${slist != null}" >		
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
