<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.HostManagerMapper">
	
	<select id="select" parameterType="String" resultType="HostManagerVO">
		SELECT * FROM manager WHERE ID=#{id} and status != 0
	</select>
	<select id="selectall" resultType="HostManagerVO">
		SELECT * FROM manager
	</select>
	<insert id="insert" parameterType="HostManagerVO">
		INSERT INTO manager VALUES (#{id},#{pwd},#{name},#{email},SYSDATE(),#{birth},#{phon},1)
	</insert>
	<update id="update" parameterType="HostManagerVO">
		UPDATE manager SET PWD=#{pwd}, NAME=#{name}, EMAIL=#{email},BIRTH=#{birth}, PHON=#{phon} WHERE ID=#{id}
	</update>
	<delete id="updatests" parameterType="HostManagerVO">
		UPDATE manager SET STATUS=0 WHERE ID=#{id}
	</delete>
	<select id="selectpwd" parameterType="String" resultType="HostManagerVO">
		SELECT pwd FROM manager WHERE ID=#{id} and EMAIL=#{email}
	</select>
	
</mapper>