<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi4.mapper.SerchMapper">
	<select id="all" parameterType="String"  resultType="productVO">
		select * from product where title like '%' ||  #{obj} || '%';
	</select>
	<select id="title" parameterType="String"  resultType="productVO">
		select pid, c.name, title, writer, pub, price, status, date,adult, img0,img1,img2 from product p
		inner join cate c ON c.cid = p.cid where title like CONCAT('%',#{keyword},'%')

	</select>
	<select id="write" parameterType="String"  resultType="productVO">
		select pid, c.name, title, writer, pub, price, status, date,adult, img0,img1,img2 from product p
		inner join cate c ON c.cid = p.cid where write like CONCAT('%',#{keyword},'%')
	</select>
	<select id="pub" parameterType="String"  resultType="productVO">
		select pid, c.name, title, writer, pub, price, status, date,adult, img0,img1,img2 from product p
		inner join cate c ON c.cid = p.cid where pub like CONCAT('%',#{keyword},'%')
	</select>
	<select id="cid" parameterType="int"  resultType="productVO">
		select pid, c.name, title, writer, pub, price, status, date,adult, img0,img1,img2 from product p
		inner join cate c ON c.cid = p.cid WHERE p.cid = #{cid}
	</select>
</mapper>






