<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.UserShopMapper">
	

	<insert id="insert" parameterType="usershopVO">
		INSERT INTO shop VALUES (null, #{mid} , #{name} , #{bnum} , #{addr} , #{addrd} , #{phon} , #{logo} , #{info} ,SYSDATE(), #{allmin} ,1)
	</insert>
	
	<!-- 회원 탈퇴 -->
	<delete id="delete" parameterType="Integer"> 
		UPDATE shop SET status=0 WHERE id=#{id}
	</delete>
	<update id="update" parameterType="usershopVO">
		UPDATE shop SET name= #{name} ,addr= #{addr} , #{addrd} , phon= #{phon} ,logo= #{logo} ,info= #{info} ,allmin= #{allmin} WHERE id=#{id}
	</update>
	<select id="select" parameterType="Integer" resultType="usershopVO">
		SELECT * FROM shop
		WHERE id=#{id}
	</select>
	<select id="selectall" resultType="usershopVO">
		SELECT * FROM shop WHERE status=1
	</select>
	<select id="select_bySts" parameterType="Integer" resultType="usershopVO">
		SELECT * FROM shop WHERE status=#{status}
	</select>
	
	
	<!-- 관리자 권한으로 정지, 삭제 -->
	<update id="updateSts" parameterType="usershopVO">
		UPDATE shop SET status=#{status} WHERE id=#{id}
	</update>
	
	<!-- 카테고리별 음식점 조회 -->
	<select id="select_byCate" parameterType="Integer" resultType="usershopVO">
		SELECT DISTINCT s.id, s.name , s.bnum, s.addr, s.addrd, s.phon FROM shop s
		INNER JOIN menu m ON m.sid = s.id
		INNER JOIN mncate c ON m.cid = c.id
		WHERE c.id = #{cid};
	</select>
	
	<!-- 현재 위치기반/카테고리별로 음식점 조회 -->
	<select id="selectMain" parameterType="MarkerVO" resultType="usershopVO">
		SELECT DISTINCT s.id, s.name , s.bnum, s.addr, s.addrd, s.phon FROM shop s
		INNER JOIN menu m ON m.sid = s.id
		INNER JOIN mncate c ON m.cid = c.id
	    INNER JOIN marker mk ON mk.id = s.marker
		WHERE (mk.latt BETWEEN #{latt}-0.027 AND #{latt}+0.027)
		AND (mk.logt BETWEEN #{logt}-0.027/COS(RADIANS(#{latt})) AND #{logt}+0.027/COS(RADIANS(#{latt})))
	    AND c.id=#{cid};
	</select>
	
	
</mapper>