<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.UserOrdersMapper">
	
	<select id="select" parameterType="int" resultType="userordersVO">
		SELECT * FROM orders WHERE id=#{id} and status !=0
	</select>
	<select id="selectall" resultType="userordersVO">
		SELECT * FROM orders
	</select>
	<select id="selectorders" parameterType="int" resultType="userordersVO">
		SELECT o.id, s.name, s.logo, m.name, m.price FROM orders o
		inner join shop s on o.sid = s.id
		inner join menu m on s.id = m.sid
		WHERE o.id=#{id}
	</select>
	<insert id="insert" parameterType="userordersVO">
		INSERT INTO orders VALUES(#{id}, #{uid}, #{sid}, #{addr}, #{addrd},#{phon}, #{nick}, SYSDATE(), 1, #{ask})
	</insert>
	<update id="update" parameterType="userordersVO">
		UPDATE orders SET uid=#{uid}, sid=#{sid}, addr=#{addr}, addrd=#{addrd}, phon=#{phon}, nick=#{nick}, ask=#{ask} WHERE id=#{id}
	</update>
	<delete id="updatests" parameterType="userordersVO">
		UPDATE orders SET status=0 WHERE id=#{id}
	</delete>

	
</mapper>