<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.UserOptcartMapper">
	

	<insert id="insert" parameterType="useroptcartVO">
		INSERT INTO optcart VALUES (#{ctid} , #{oid})
	</insert>
	
	<!-- 장바구니는 기본적으로 수정이 안됨. 삭제하고 다시 추가하는 것이 맞다. -->
	
	<!-- 삭제도 장바구니 삭제에 CASCADE로 작동 -->
	
	<select id="select_byCtid" parameterType="Integer" resultType="useroptcartVO">
		SELECT * FROM optcart
		WHERE ctid=#{ctid}
	</select>
	
	<select id="selectall" resultType="useroptcartVO">
		SELECT * FROM optcart
	</select>
	

</mapper>