<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.UserOrdersMapper">
	
	<select id="select" parameterType="int" resultType="userordersVO">
		SELECT * FROM orders WHERE id=#{id} and status !=0
	</select>
	<select id="selectall" resultType="userordersVO">
		SELECT * FROM orders
	</select>
	<select id="selectmy" parameterType="String" resultType="userordersmyVO">
		SELECT DISTINCT o.id as oid, o.uid, o.date AS odate, s.name AS sname, s.logo AS slogo FROM orders o
		JOIN shop s ON o.sid = s.id
		WHERE o.uid=#{uid}
	</select>
	<select id="selectmymenu" parameterType="String" resultType="userordersmyVO">
		select distinct o.id as oid, de.mname, de.price as mprice, d.oname, d.oprice from orders o
		join detail de on o.id = de.odid
		join dopt d on de.id=d.did
		where o.id=#{oid}
	</select>
	<insert id="insert" parameterType="userordersVO">
		INSERT INTO orders VALUES(#{id}, #{uid}, #{sid}, #{addr}, #{addrd},#{phon}, #{nick}, SYSDATE(), 1, #{ask})
	</insert>
	<update id="update" parameterType="userordersVO">
		UPDATE orders SET uid=#{uid}, sid=#{sid}, addr=#{addr}, addrd=#{addrd}, phon=#{phon}, nick=#{nick}, ask=#{ask} WHERE id=#{id}
	</update>
	<delete id="updatests" parameterType="userordersVO">
		UPDATE orders SET status=0 WHERE id=#{id}
	</delete>

	
</mapper>