<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.UserCollectionMapper">
	

	<insert id="insert" parameterType="usercollectionVO">
		INSERT INTO collection VALUES (null, #{name}, #{line})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM collection WHERE id=#{id}
	</delete>
	<update id="update" parameterType="usercollectionVO">
		UPDATE collection SET name=#{name} WHERE id=#{id}
	</update>
	<!-- 순서 수정은 따로.(한 화면에서 순서 다 지정해줄 거니까) -->
	<update id="updateLine" parameterType="usercollectionVO">
		UPDATE collection SET line=#{line} WHERE id=#{id}
	</update>
	
	<select id="select" parameterType="Integer" resultType="usercollectionVO">
		SELECT * FROM collection
		WHERE id=#{id}
	</select>
	
	<select id="selectall" resultType="usercollectionVO">
		SELECT * FROM collection
	</select>
	
	<select id="select_byShop" parameterType="Integer" resultType="usercollectionVO">
		SELECT DISTINCT * FROM collection
	    WHERE sid = #{sid}
	    ORDER BY line;
	</select>
	
</mapper>