<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodject.mapper.UserCartMapper">
	

	<insert id="insert" parameterType="usercartVO">
		INSERT INTO cart VALUES (null, #{uid} , #{mnid} , #{num})
	</insert>
	
	<!-- 장바구니는 기본적으로 수정이 안됨. 삭제하고 다시 추가하는 것이 맞다. -->
	<!-- update는 cnt만 수정하는 걸로 -->
	<update id="updateNum" parameterType="usercartVO">
		UPDATE cart SET num=#{num} WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE id=#{id}
	</delete>
	
	<select id="select" parameterType="Integer" resultType="usercartVO">
		SELECT * FROM cart
		WHERE id=#{id}
	</select>
	
	<select id="selectall" resultType="usercartVO">
		SELECT * FROM cart
	</select>
	
	<select id="selectForInsert" parameterType="usercartVO" resultType="usercartVO">
		SELECT * FROM cart
		WHERE uid=#{uid} AND mnid=#{mnid}
	</select>
	
</mapper>