<section class="pb-5 pt-8">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-span mb-3 shadow-lg">
          <div class="card-body py-0">
            <div class="row justify-content-center">
              <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1">
                <h1 class="card-title mt-xl-5 mb-4">Best deals <span class="text-primary"> 가능하면 태그 가져다가</span></h1>
                <p class="fs-1">내용 입력하세요 여기에요!</p>


              </div>
              <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                <h1 class="card-title mt-xl-5 mb-4">Best deals <span class="text-primary"> Crispy Sandwiches</span></h1>
                <p class="fs-1">Enjoy the large size of sandwiches. Complete your meal with the perfect slice of sandwiches.</p>
                <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6" href="#!">주문목록</a></div>
                <div class="d-grid bottom-0"><a class="btn btn-lg btn-primary mt-xl-6" href="#!">회원정보 수정</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>