<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Foodject 맛있는 음식 &amp; 다 함께 즐겨요 </title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="foodwagon/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="foodwagon/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="foodwagon/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="foodwagon/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="foodwagon/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="foodwagon/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="foodwagon/assets/css/theme.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script >
$(document).ready(function(){
	$('#impl').click(function(){
      
  			location.href='/custimpl';
		});

});

</script>
<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand d-inline-flex" href="/"><img class="d-inline-block"
            src="foodwagon/assets/img/gallery/logo.svg" alt="logo" /><span
            class="text-1000 fs-3 fw-bold ms-2 text-gradient">Foodject</span></a>
      </div>
    </nav>
    <section class="py-5 overflow-hidden bg-primary" id="home">
      <div class="container">
        <div class="row flex-center">
          <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">

            
            <div class="card w-xxl-75">
              <div class="card-body">

                <div class="tab-content mt-3" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <form class="row gx-2 gy-2 align-items-center">
                      <div class="col">
                        <div class="input-group-icon"><i class="fas fa-map-marker-alt text-danger input-box-icon"></i>
                          <label class="visually-hidden" for="inputDelivery">Address</label>
                          <input class="form-control input-box form-foodwagon-control" id="inputDelivery" type="text"
                            placeholder="아이디를 입력해주세요" />
                        </div>
                        <p></p>
                        <div class="input-group-icon"><i class="fas fa-map-marker-alt text-danger input-box-icon"></i>
                          <input class="form-control input-box form-foodwagon-control" id="inputDelivery" type="text"
                            placeholder="비밀번호를 입력해주세요" />
                        </div>
                        
                        <p></p>
                        <div class="input-group-icon"><i class="fas fa-map-marker-alt text-danger input-box-icon"></i>
                          <input class="form-control input-box form-foodwagon-control" id="inputDelivery" type="text"
                            placeholder="기타 등등" />
                        </div>

                        
                      </div>
                    </form>
                    <p></p>
                    <div class="d-grid gap-3 col-sm-auto">
                      <!-- <button class="btn btn-danger" type="submit">로그인</button> -->
                    </div>
                  </div>

                </div>

              </div>

            </div>
            <p>
            </p>
            <div class="card w-xxl-75">
              <div class="d-grid gap-3 col-sm-auto">
                <button class="btn btn-danger" type="submit" id="addimpl">동의하고 가입하기</button>
              </div>
            </div>
          </div>


        </div>
      </div>


    </section>

    <!-- <section> close ============================-->
    <!-- ============================================-->


  </main>

  <script src="foodwagon/vendors/@popperjs/popper.min.js"></script>
  <script src="foodwagon/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="foodwagon/vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="foodwagon/vendors/ fontawesome/all.min.js"></script>
  <script src="foodwagon/assets/js/theme.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap"
    rel="stylesheet">
</body>

</html>