<script>

$(document).ready(function(){
	//Menu Buttons
	$('#update').click(function(){
 		location.href='/cust/update';
	});
	$('#myorders').click(function(){
 		location.href='/cust/myorders';
	});
	$('#cs').click(function(){
 		location.href='/cust/cs';
	});	
	
});
</script>

<section class="pb-5 pt-8">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-span mb-3 shadow-lg">
          <div class="card-body py-0">
            <div class="row justify-content-center">
            
             <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                <h1 class="card-title mt-xl-5 mb-4 text-center">My Page <a href="/cust"><span class="text-primary">마이페이지</span></a></h1>
                <div class="d-grid bottom-0">                
                <a class="btn btn-lg btn-primary mt-xl-6" id="update" href="/cust/update">회원정보수정하기</a><p></p>
                <a class="btn btn-danger text-white mt-xl-6" id="myorders" href="/cust/myorders">주문내역조회 &nbsp<i class="fas fa-mouse-pointer me-2"></i></a><p></p>
                <a class="btn btn-lg btn-primary mt-xl-6" id="cs" href="/cust/cs">고객센터</a><p></p>
                </div>
              </div>
            
              <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1">
                <h1 class="card-title mt-xl-5 mb-4 text-center">주문내역상세</h1>  
                	<div class="p-5">
                	<div class="card card-span mb-3 shadow-sm">                	
	                	<!-- 주문상세 Header -->
					      <div class="modal-header">
					        <h4 class="modal-title"><i class="fas fa-list"></i>&nbsp  &nbsp 주문상세</h4>
					      </div>
					
					      <!-- 주문상세 body -->
					      <div class="modal-body">
					      	<h5 >주문상황</h5>
					        <h2 >가게이름</h2>
					        <h6> 주문시간</h6>
					        <h6> 주문번호</h6>
					        <div class="pb-3 text-center">
					        	<button type="button" class="btn btn-line text-dark"><i class="fas fa-home"></i>&nbsp 가게보기</button>
					        </div>
					        <div class="card">
					          <div class="p-3">
					          </div>												
					        </div>
					      </div>
					
					      <!-- 주문상세 footer -->
					      <div class="modal-footer">
					        <button type="button" class="btn btn-line text-dark" data-bs-dismiss="modal">닫기</button>
					      </div>
					</div>
					</div>
                         
			  </div>
			  
			  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>