<script>
function idajax(oid){
	$.ajax({
		url: '/cust/myordersde',
		type: 'get',
		data: {}
	})	
};



$(document).ready(function(){
	
	//Menu Buttons
	$('#update').click(function(){
 		location.href='/cust/update';
	});
	$('#myorders').click(function(){
 		location.href='/cust/myorders';
	});
	$('#cs').click(function(){
 		location.href='/cust/cs';
	});	
	
});
</script>

<section class="pb-5 pt-8">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-span mb-3 shadow-lg">
          <div class="card-body py-0">
            <div class="row justify-content-center">
            
             <div class="col-md-7 col-xl-5 col-xxl-4 p-4 p-lg-5">
                <h1 class="card-title mt-xl-5 mb-4 text-center">My Page <a href="/cust"><span class="text-primary">마이페이지</span></a></h1>
                <div class="d-grid bottom-0">                
                <a class="btn btn-lg btn-primary mt-xl-6" id="update" href="/cust/update">회원정보수정하기</a><p></p>
                <a class="btn btn-danger text-white mt-xl-6" id="myorders" href="/cust/myorders">주문내역조회 &nbsp<i class="fas fa-mouse-pointer me-2"></i></a><p></p>
                <a class="btn btn-lg btn-primary mt-xl-6" id="cs" href="/cust/cs">고객센터</a><p></p>
                </div>
              </div>
            
              <div class="col-md-5 col-xl-7 col-xxl-8 g-0 order-0 order-md-1">
                <h1 class="card-title mt-xl-5 mb-4 text-center">주문내역조회</h1>
                
                <!-- ===============주문내역항목나열============== -->
	              <div th:each="o:${olist}">
		              <div class="px-6 pb-3">
		              <div class="card w-xxl-100">
		                <div class="card-body">
		                  <nav>
		                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
		                      <div class="col-md-2">
		                        <img class="img-fluid rounded-3 w-100" th:src="@{'/custimg/'+${o.slogo}}">
		                      </div>
		                      <div class="col-md-10 p-3">
		                      	<p th:text="${#dates.format(o.odate,'yyyy-MM-dd')}"></p>
		                        <h3 class="pt-2" th:text="${o.sname}">가게이름</h3>	                        
		                      </div>
		                    </div>
		                  </nav>
		                  <div class="tab-content mt-3" id="nav-tabContent">
		                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		                      <form class="row gx-2 gy-2 align-items-center">
		                        <div class="col-md-4"></div> 
		                        <div class="col-md-5">
		                        </div>
		                        <div class="d-grid gap-3 col-sm-auto">
		                          	<a type="button" th:onclick="|location.href='@{view(oid=${o.oid})}'|" class="btn btn-line text-dark" th:id="${o.oid}+'btn'">주문상세</a>							
								                          
		                        </div>
		                      </form>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              </div>
	              </div>
	             <!-- ===============주문내역항목나열============== -->
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->

</section>