<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Foodject 맛있는 음식 &amp; 다 함께 즐겨요 </title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/bootstrap/foodwagon/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/bootstrap/foodwagon/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/bootstrap/foodwagon/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/bootstrap/foodwagon/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="/bootstrap/foodwagon/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="/bootstrap/foodwagon/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="/bootstrap/foodwagon/assets/css/theme.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  
</head>
<script>
function execDaumPostcode(){
	daum.postcode.load(function(){
		new daum.Postcode({
		    oncomplete: function(data) {
		    	$("#post").val(data.zonecode);
		    	$("#addr").val(data.roadAddress);
		    }
		}).open();
	});
};

$(document).ready(function(){
	//id 유효성 검사 (DB중복, 길이 확인)
	$('#id').keyup(function(){
		var inputid = $(this).val();
		$.ajax({
			url:'/checkid',
			data:{id:inputid},
			success:function(result){
				if(result == '1'){
					$('#idspan').text('사용이 불가능한 아이디입니다');			
				}else{
					$('#idspan').text('멋진 아이디네요!');
				}
			}
		});		
	});
	//비밀번호 유효성 검사
	$('input[name="pwd"]').keyup(function(){
		var uid = $('input[name="id"]').val();
		var pwd = $('input[name="pwd"]').val();
		var pwd2 = $('#pwdcheck').val();
			if(pwd != uid){
				$('#pwdspan').text('');
			
			}else {
				$('#pwdspan').text('아이디와 비밀번호가 같습니다');
				
			}
	});		
	//비밀번호2 유효성 검사
	$('#pwdcheck').keyup(function(){
		var pwd = $('#pwd').val();
		var pwd2 = $('#pwdcheck').val();
			if(pwd != pwd2){
				$('#pwdcheckspan').text('비밀번호가 일치하는지 확인해주세요');
				
			}else {
				$('#pwdcheckspan').text('비밀번호를 사용할 수 있습니다');
				
			}
	 });

	//전화번호 유효성 검사
	function autoHypenTel(str) {
		  str = str.replace(/[^0-9]/g, '');
		  var tmp = '';

		  if (str.substring(0, 2) == 02) {
		    // 서울 전화번호일 경우 10자리까지만 나타나고 그 이상의 자리수는 자동삭제
		    if (str.length < 3) {
		      return str;
		    } else if (str.length < 6) {
		      tmp += str.substr(0, 2);
		      tmp += '-';
		      tmp += str.substr(2);
		      return tmp;
		    } else if (str.length < 10) {
		      tmp += str.substr(0, 2);
		      tmp += '-';
		      tmp += str.substr(2, 3);
		      tmp += '-';
		      tmp += str.substr(5);
		      return tmp;
		    } else {
		      tmp += str.substr(0, 2);
		      tmp += '-';
		      tmp += str.substr(2, 4);
		      tmp += '-';
		      tmp += str.substr(6, 4);
		      return tmp;
		    }
		  } else {
		    // 핸드폰 및 다른 지역 전화번호 일 경우
		    if (str.length < 4) {
		      return str;
		    } else if (str.length < 7) {
		      tmp += str.substr(0, 3);
		      tmp += '-';
		      tmp += str.substr(3);
		      return tmp;
		    } else if (str.length < 11) {
		      tmp += str.substr(0, 3);
		      tmp += '-';
		      tmp += str.substr(3, 3);
		      tmp += '-';
		      tmp += str.substr(6);
		      return tmp;
		    } else {
		      tmp += str.substr(0, 3);
		      tmp += '-';
		      tmp += str.substr(3, 4);
		      tmp += '-';
		      tmp += str.substr(7);
		      return tmp;
		    }
		  }
		  return str;
		}
	
	$('#phon').keyup(function (event) {
		  event = event || window.event;
		  var _val = this.value.trim();
		  this.value = autoHypenTel(_val);
		});


	
	// 필수항목 미작성 체크 및 전송
	$('#registerbtn').click(function(){
		var id = $('#id').val();
		var pwd = $('#pwd').val();
		var name = $('#name').val();
		var nick = $('#nick').val();
		var addr = $('#addr').val();
		var phon = $('#phon').val();
		var birth = $('#birth').val();
		if(id == ''){
			$('#id').focus();
			return;		
		}
		if(pwd == ''){
			$('#pwd').focus();
			return;
		}
		if(name == ''){
			$('#name').focus();
			return;
		}
		if(birth == ''){
			$('#birth').focus();
			return;
		}
		if(phon == ''){
			$('#phon').focus();
			return;
		}
		if(addr == ''){
			$('#addr').focus();
			return;
		}
		if(nick == ''){
			$('#nick').focus();
			return;
		}
		
		$('#registerform').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'/cust/registerimpl'
		});
		$('#registerform').submit();
		
	});	
});

</script>
<body>

  <!-- ===============================================-->
  <!--    Navigation Bar -->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand d-inline-flex" href="/"><img class="d-inline-block"
            src="/bootstrap/foodwagon/assets/img/gallery/logo.svg" alt="logo" /><span
            class="text-1000 fs-3 fw-bold ms-2 text-gradient">Foodject</span></a>
      </div>
    </nav>
    
  <!-- Main Section -->   
    <section class="py-5 overflow-hidden bg-primary" id="home">
      <div class="container">
        <div class="row flex-center">
          <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
            <div class="card w-xxl-75">
              <div class="card-body">
                <div class="tab-content mt-3" id="nav-tabContent">
                <h5 th:text="${msg}"></h5>
                <!-- Register Div -->
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                   <div class="text-center">
                     <h2>회원가입</h2>
                     <p>*표시는 선택항목입니다</p>
                   </div>
                    <form id="registerform" class="align-items-center">
                      <div class="col">
                      
                        <label for="id">아이디를 입력해주세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="id" name="id" type="text" placeholder="4자리 이상" required>
                        </div> 
                        <span style="font-size: smaller; color:gray;" id="idspan"></span><p></p>
                        
                        <label for="pwd">비밀번호를 입력해주세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="pwd" name="pwd" type="password" placeholder="Password"  required>
                        </div> <p></p>
                        <span style="font-size: smaller; color:gray;" id="pwdspan"></span><p></p>
                        
                        <label for="pwdcheck">비밀번호 확인</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="pwdcheck" type="password" placeholder="Password checking" required>
                        </div> <p></p>
                        <span style="font-size: smaller; color:gray;" id="pwdcheckspan"></span><p></p>
                        
                        <label for="name">이름을 입력해주세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="name" name="name" type="text" placeholder="Full Name" required>
                        </div> <p></p>
						<span style="font-size: smaller; color:gray;" id="namespan"></span><p></p>
						
                        <label for="birth">생년월일을 입력하세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="birth" name="birth" type="date" placeholder="Birthday" required>
                        </div> <p></p>
                                       
                        <label for="phon">휴대폰 번호를 입력하세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="phon" name="phon" type="tel" placeholder="Phone Number"  maxlength="13" required>
                        </div><p></p>
                            
                            
                            
                                               
                        <label for="addr">주소를 입력하세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="post" type="text" placeholder="Post Number" readonly>
                          <button type="button" class="btn btn-primary" onclick="execDaumPostcode()">우편번호찾기</button>
                        </div><p></p>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="addr" name="addr" type="text" placeholder="도로명 주소" readonly>
                        </div><p></p>
                        <div class="input-group">
                          <div class="col-sm-6">
                          <input class="form-control input-box form-foodwagon-control"
                          id="addrd" name="addrd" type="text" placeholder="상세주소"></div>
                        </div><p></p>
                        <span style="font-size: smaller; color:gray;" id="addrspan"></span><p></p>
                                 
                                 
                                 
                                 
                                                                        
                        <label for="nick">닉네임을 입력해주세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="nick" name="nick" type="text" placeholder="Nickname" required>
                        </div> <p></p>
                        <span style="font-size: smaller; color:gray;" id="nickspan"></span><p></p>
                        
                        <label for="img">* 프로필사진을 등록하시겠어요? </label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="img" name="mf" type="file" placeholder="Profile Image" >
                        </div> <p></p>
                         
                        <input type="hidden" name="status" value=1><p></p>
                        
	                      <div class="d-grid gap-3 col-sm-auto">
	                        <button id="registerbtn" class="btn btn-danger" type="submit">회원가입하기</button>
	                      </div>

                    </div>

                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!-- <section> close ============================-->
    <!-- ============================================-->


  </main>

  <script src="/bootstrap/foodwagon/vendors/@popperjs/popper.min.js"></script>
  <script src="/bootstrap/foodwagon/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="/bootstrap/foodwagon/vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="/bootstrap/foodwagon/vendors/ fontawesome/all.min.js"></script>
  <script src="/bootstrap/foodwagon/assets/js/theme.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap"
    rel="stylesheet">
</body>

</html>