<!DOCTYPE html>
<html lang="ko" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Foodject 맛있는 음식 &amp; 다 함께 즐겨요 </title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/bootstrap/foodwagon/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/bootstrap/foodwagon/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/bootstrap/foodwagon/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/bootstrap/foodwagon/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="/bootstrap/foodwagon/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="/bootstrap/foodwagon/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="/bootstrap/foodwagon/assets/css/theme.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script >
$(document).ready(function(){
	
	$('#id').keyup(function(){
		var inputid = $(this).val();
		$.ajax({
			url:'/checkid',
			data:{id:inputid},
			success:function(result){
				if(result == '1'){
					$('#idspan').text('사용불가한 아이디입니다');
				}else{
					$('#idspan').text('멋진 아이디네요!');
				}
			}
		});
		
	});
	
	
	$('#registerbtn').click(function(){
		$('#registerform').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'/cust/registerimpl'
		});
		$('#registerform').submit();
	});	
});

</script>
<body>

  <!-- ===============================================-->
  <!--    Navigation Bar -->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand d-inline-flex" href="/"><img class="d-inline-block"
            src="/bootstrap/foodwagon/assets/img/gallery/logo.svg" alt="logo" /><span
            class="text-1000 fs-3 fw-bold ms-2 text-gradient">Foodject</span></a>
      </div>
    </nav>
    
  <!-- Main Section -->   
    <section class="py-5 overflow-hidden bg-primary" id="home">
      <div class="container">
        <div class="row flex-center">
          <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
            <div class="card w-xxl-75">
              <div class="card-body">
                <div class="tab-content mt-3" id="nav-tabContent">
                
                <!-- Login Div -->
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                   <div class="text-center">
                     <h2>회원가입</h2>
                     <p>*표시는 선택항목입니다</p>
                   </div>
                    <form id="registerform" class="row gx-2 gy-2 align-items-center">
                      <div class="col">
                      
                        <label for="id">아이디를 입력해주세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="id" name="id" type="text" placeholder="ID" required>
                        </div> 
                        <span style="font-size: smaller; color:gray;" id="idspan"></span><p></p>
                        
                        <label for="pwd">비밀번호를 입력해주세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="pwd" name="pwd" type="password" placeholder="Password" value="txt"  required>
                        </div> <p></p>
                        <span style="font-size: smaller; color:gray;" id="pwdspan"></span><p></p>
                        
                        <label for="pwdcheck">비밀번호 확인</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="pwdcheck" type="password" placeholder="Password checking" value="txt"  required>
                        </div> <p></p>
                        <span style="font-size: smaller; color:gray;" id="pwdcheckspan"></span><p></p>
                        
                        <label for="name">이름을 입력해주세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="name" name="name" type="text" placeholder="Full Name" value="txt"  required>
                        </div> <p></p>
						<span style="font-size: smaller; color:gray;" id="namespan"></span><p></p>\
						
                        <label for="birth">생년월일을 입력하세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="birth" name="birth" type="date" placeholder="Birthday" value="2020-02-02" required>
                        </div> <p></p>
                                       
                        <label for="phon">휴대폰 번호를 입력하세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="phon" name="phon" type="tel" placeholder="Phone Number" value="123"  maxlength="13" required>
                        </div><p></p>
                                               
                        <label for="addr">주소를 입력하세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="phon" name="addr" type="tel" placeholder="Address" value="txt" required>
                        </div><p></p>
                        <span style="font-size: smaller; color:gray;" id="addrspan"></span><p></p>
                                                                        
                        <label for="nick">닉네임을 입력해주세요</label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="nick" name="nick" type="text" placeholder="Nickname" value="txt"  required>
                        </div> <p></p>
                        <span style="font-size: smaller; color:gray;" id="nickspan"></span><p></p>
                        
                        <label for="img">* 프로필사진을 등록하시겠어요? </label><br>
                        <div class="input-group">
                          <input class="form-control input-box form-foodwagon-control"
                          id="img" name="mf" type="file" placeholder="Profile Image" >
                        </div> <p></p>
                         
                        <input type="hidden" name="status" value=1>
                                             
                      <div class="input-group">
                        <a id="registerbtn" class="btn btn-danger">회원가입하기</a>
                      </div>
                    </form>

                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section> close ============================-->
    <!-- ============================================-->


  </main>

  <script src="/bootstrap/foodwagon/vendors/@popperjs/popper.min.js"></script>
  <script src="/bootstrap/foodwagon/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="/bootstrap/foodwagon/vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="/bootstrap/foodwagon/vendors/ fontawesome/all.min.js"></script>
  <script src="/bootstrap/foodwagon/assets/js/theme.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap"
    rel="stylesheet">
</body>

</html>