<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>11 title here</title>
</head>
<body>
	<h1>Main Page</h1>
	<h2 th:if="${session.loginid == null}">
	   <a href="/test/login">Login</a></h2>
	<h2 th:unless="${session.loginid == null}">
	   <a href="/test/logout"><span th:text="${session.loginid}"></span>
		Logout</a></h2>
	<h2><a href="/test/kakao">KAKATEST</a></h2>
	<h2><a href="/test/papago">Papago Test</a></h2>
	<h2><a href="/test/go">GO</a></h2>
	<h2><a href="/test/websocket">WebSocket</a></h2>
</body>
</html>