<!DOCTYPE html>
<html lang="ko">



<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/bootstrap/skydash/vendors/feather/feather.css">
  <link rel="stylesheet" href="/bootstrap/skydash/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/bootstrap/skydash/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/bootstrap/skydash/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/bootstrap/skydash/images/favicon.png" />
</head>

<body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
$(document).ready(function(){
	$('#loginbt').click(function(){
		
		$('#login_form').attr({
			'method' : 'post',
			'action' : '/host/login/loginimpl'
		});
		$('#login_form').submit();
		
	});

	
	
	
});

</script>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <a href="/host"><img src="/bootstrap/skydash/images/logo.svg" alt="logo"></a>
              </div>
              <h4>로그인</h4>
              <h6 class="font-weight-light" th:if="${msg == null}" >Sign in to continue.</h6>
              <p th:text="${msg}" th:unless="${msg == null}" ></p>
              <form class="pt-3" id="login_form">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="id" placeholder="Enter ID" name="id">
                  
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="pwd" placeholder="Enter Password" name="pwd">
                </div>
                <div class="mt-3">
                  <button id="loginbt" type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                     자동로그인
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">비밀번호 찾기</a>
                </div>
                <div class="mb-2">
                  <button  type="button"class="btn btn-block btn-facebook auth-form-btn">
                    <i class="ti-facebook mr-2"></i>Connect using facebook
                  </button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="/host/register" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/bootstrap/skydash/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/bootstrap/skydash/js/off-canvas.js"></script>
  <script src="/bootstrap/skydash/js/hoverable-collapse.js"></script>
  <script src="/bootstrap/skydash/js/template.js"></script>
  <script src="/bootstrap/skydash/js/settings.js"></script>
  <script src="/bootstrap/skydash/js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>
