<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/bootstrap/skydash/vendors/feather/feather.css">
  <link rel="stylesheet" href="/bootstrap/skydash/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/bootstrap/skydash/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/bootstrap/skydash/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/bootstrap/skydash/images/favicon.png" />
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script th:inline="javascript">
      /*<![CDATA[*/
    var id = [[${ session.loginshop }]];
    if( id == null ){
      location.href = "/host/login"
    }
   </script>
  <script>

  
  
  
  $(document).ready(function(){
	
	
	$('#updatebt').click(function(){ 
		$('#update_form').attr({
			'method':'post',
			'action':'update'
		}); 
		$('#update_form').submit(); 
	});
	$('#deletebt').click(function(){
		
		var c = confirm('삭제 하시겠습니까?');
		
		if(c == true){
			$('#update_form').attr({
				'method':'post',
				'action':'delete'
			}); 
			$('#update_form').submit(); 
		}
	});
});
</script>

</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <a href="/host"><img src="/bootstrap/skydash/images/logo.svg" alt="logo"></a>
              </div>
              <h4 th:text="${m.name} + '님의 프로필'"></h4>
              <p class="font-weight-light">개인정보를 수정하실 수 있습니다.</p>
              <form class="pt-3" id="update_form">
                <div class="form-group">
                <label for="id">아이디:</label>
                <span id="ispan"></span>
                  <input type="text" class="form-control form-control-lg" id="id" placeholder="ID" name="id"  value="mid01" th:value=${m.id} readonly="readonly">
                </div>
                <div class="form-group">
                <label for="pwd">비밀번호:</label>
               	
                  <input type="password" class="form-control form-control-lg" id="pwd" placeholder="Password" name="pwd" value="pwd01" th:value=${m.pwd} >
                </div>
                
                <div class="form-group">
                <label for="name">성함:</label>
               
                  <input type="text" class="form-control form-control-lg" id="name" placeholder="Name" name="name" value="name01" th:value=${m.name} >
                </div>
                <div class="form-group">
                <label for="email">이메일:</label>
                
                  <input type="email" class="form-control form-control-lg" id="email" placeholder="Email" name="email" value="em01" th:value=${m.email} >
                   <!-- <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>Country</option>
                    <option>United States of America</option>
                    <option>United Kingdom</option>
                    <option>India</option>
                    <option>Germany</option>
                    <option>Argentina</option>
                  </select> -->
                </div>
                 <div class="form-group">
                 <label for="birth">생년월일:</label>
                  <p><input type="date" class="form-control form-control-lg" id="birth" placeholder="Birth" name="birth" value="bir01" th:value=${m.birth} ></p>
                </div> 
                 <div class="form-group">
                 <label for="phon">휴대폰 번호:</label>
                  <input type="text" class="form-control form-control-lg" id="phon" placeholder="'-' 없이 입력해 주세요." name="Phon" value="p01" th:value=${m.phon}  >
                </div>
                	  
               <!--  <div class="form-group">
                <label for="addr">주소:</label>
                  <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>Country</option>
                    <option>United States of America</option>
                    <option>United Kingdom</option>
                    <option>India</option>
                    <option>Germany</option>
                    <option>Argentina</option>
                  </select>
                </div> -->
                
              
                <div class="mt-3">
                  <button id="updatebt"  type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">UPDATE</button>
                </div>
                <div class="mt-3">
                  <button id="deletebt" type="submit"  class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">WITHDRAWAL</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/bootstrap/skydash/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/bootstrap/skydash/js/off-canvas.js"></script>
  <script src="/bootstrap/skydash/js/hoverable-collapse.js"></script>
  <script src="/bootstrap/skydash/js/template.js"></script>
  <script src="/bootstrap/skydash/js/settings.js"></script>
  <script src="/bootstrap/skydash/js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>
